* {
	margin: 0;
	padding: 0;
}

.cell {

	float: left;

}

#container {

	margin: 0 auto;
	height: 500px;
	width: 500px;
	border: 2px solid black;
	overflow: hidden;
	position: absolute;
}

.highlighted {

	background-color: black;
}

button {
	margin: 0 auto;
}
